.titre{
     text-align: center;
     font-size: 3rem;
     color: white
}
.container1{
     margin: 3rem auto 0;
     max-width: 60%;
     max-height: 100%;
     padding: 0rem 2 rem 0.8rem;
     background-color: rgba(255, 255, 255, 0.753);
     text-align: center;
}
.row{
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(250px, 4fr));
     grid-column-gap: 10px;
     grid-row-gap: 3em;
     gird-color: red;
}

.input-Ingredients{
     width : 80px;
}
.button-quantite{
     display: flex;
}
